<%- include('header'); -%>

<div>
   <div class="main-bredcrum-box">
        <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Verifier List
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="">Manage My Reflet ID</a>
          </li>
        </ul>
      </nav>
    </div>
	  <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-file-check"></i>
        </span> Manage My Reflet ID </h3>
    </div>
    <div class="row">
         <div class="col-md-11 m-auto">
            <div class="main-outer-verifier">
              <div class="card">
                <div class="card-body">
                  <div>
                     <div class="row">
                       <div class="col-md-12 m-auto">
                           <div class="row">
                             <div class="col-md-2">
                               <div class="account-detail-block">
                                    <h6>First Name</h6>
                                    <h5>Heena</h5>
                                  </div>
                             </div>
                              <div class="col-md-3">
                               <div class="account-detail-block">
                                    <h6>Last Name</h6>
                                    <h5>Chawla</h5>
                                  </div>
                             </div>
                               <div class="col-md-4">
                                 <div class="account-detail-block">
                                      <h6>Email ID</h6>
                                      <h5>heena@gmail.com</h5>
                                    </div>
                               </div>
                                <div class="col-md-3">
                                 <div class="account-detail-block">
                                    <h6>My Reflet ID Code</h6>
                                    <h5>53201</h5>
                                  </div>
                               </div>
                           </div>
                             <div class="row">
                             <div class="col-md-2">
                              <div class="account-detail-block">
                                      <h6>Country</h6>
                                      <h5>UK</h5>
                                    </div>
                               
                             </div>
                              <div class="col-md-3">
                               <div class="account-detail-block">
                                    <h6>Mobile Number</h6>
                                    <h5>8796753452</h5>
                                  </div>
                             </div>
                               <div class="col-md-4">
                                 <div class="account-detail-block">
                                      <h6>Submitted On</h6>
                                      <h5>20 July, 2019</h5>
                                    </div>
                               </div>
                                <div class="col-md-3">
                                 <div class="account-detail-block">
                                      <h6>Verified Status</h6>
                                      <div class="verifier-typ-img for-verify-typ">
                                         <img src="assets/images/icons/email.png"><span>Email &nbsp;</span>
                                         <img src="assets/images/icons/phone.png"><span>Phone</span>
                                       </div>
                                    </div>
                               </div>
                           </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
              <div id="verifierone" class="collapse main-outer-verifier" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="">
                    <div class="card">
                      <div class="card-body">
                        <div>
                           
                           <div class="row">
                             <div class="col-md-12 m-auto">
                                 <div class="row">
                                   <div class="col-md-2">
                                     <div class="account-detail-block">
                                          <h6>First Name</h6>
                                          <h5>Heena</h5>
                                        </div>
                                   </div>
                                    <div class="col-md-3">
                                     <div class="account-detail-block">
                                          <h6>Last Name</h6>
                                          <h5>Chawla</h5>
                                        </div>
                                   </div>
                                     <div class="col-md-4">
                                       <div class="account-detail-block">
                                            <h6>Email ID</h6>
                                            <h5>heena@gmail.com</h5>
                                          </div>
                                     </div>
                                      <div class="col-md-3">
                                       <div class="account-detail-block">
                                          <h6>My Reflet ID Code</h6>
                                          <h5>53201</h5>
                                        </div>
                                     </div>
                                 </div>
                                   <div class="row">
                                   <div class="col-md-2">
                                    <div class="account-detail-block">
                                            <h6>Country</h6>
                                            <h5>UK</h5>
                                          </div>
                                     
                                   </div>
                                    <div class="col-md-3">
                                     <div class="account-detail-block">
                                          <h6>Mobile Number</h6>
                                          <h5>8796753452</h5>
                                        </div>
                                   </div>
                                     <div class="col-md-4">
                                       <div class="account-detail-block">
                                            <h6>Submitted On</h6>
                                            <h5>20 July, 2019</h5>
                                          </div>
                                     </div>
                                      <div class="col-md-3">
                                       <div class="account-detail-block">
                                            <h6>Verified Status</h6>
                                            <div class="verifier-typ-img for-verify-typ">
                                               <img src="assets/images/icons/email.png"><span>Email &nbsp;</span>
                                               <img src="assets/images/icons/phone.png"><span>Phone</span>
                                             </div>
                                          </div>
                                     </div>
                                 </div>
                             </div>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
                <h4 class="Main-heading mt-40 mb-0">Personal Information</h4>
                <div class="main-heading-verfy-row">
                 <div class="row align-middle-flex">
                    <div class="col-md-3">
                       <h5 class="mb-0 clearfix">
                        Label  
                      </h5>
                    </div>
                    <div class="col-md-2">
                       <h5 class="mb-0 clearfix">
                        Content
                      </h5>
                    </div>
                   
                  </div>
                </div>
                <div class="card-body first-id-row" id="headingOne">
                  <div class="row align-middle-flex">
                    <div class="col-md-3">
                       <h5 class="mb-0 clearfix">
                        <span><i class="mdi mdi-account"></i></span>
                         First Name 
                      </h5>
                    </div>
                    <div class="col-md-2">
                       <h5 class="mb-0 clearfix">
                         John 
                      </h5>
                    </div>
                  </div>
                </div>
                 <div class="card-body first-id-row" id="headingOne">
                  <div class="row align-middle-flex">
                    <div class="col-md-3">
                       <h5 class="mb-0 clearfix">
                         <span><i class="mdi mdi-account"></i></span>
                         Middle Name
                      </h5>
                    </div>
                    <div class="col-md-2">
                       <h5 class="mb-0 clearfix">
                         - 
                      </h5>
                    </div>
                  </div>
                </div>
                 <div class="card-body first-id-row" id="headingOne">
                  <div class="row align-middle-flex">
                    <div class="col-md-3">
                       <h5 class="mb-0 clearfix">
                        <span><i class="mdi mdi-account"></i></span>
                         Last Name
                      </h5>
                    </div>
                    <div class="col-md-2">
                       <h5 class="mb-0 clearfix">
                         Doe 
                      </h5>
                    </div>
                  </div>
                </div>
                 <div class="card-body first-id-row" id="headingOne">
                  <div class="row align-middle-flex">
                    <div class="col-md-3">
                       <h5 class="mb-0 clearfix">
                         <span><i class="mdi mdi-earth"></i></span>
                         Country 
                      </h5>
                    </div>
                    <div class="col-md-2">
                       <h5 class="mb-0 clearfix">
                         Japan 
                      </h5>
                    </div>
                  </div>
                </div>
                 <div class="card-body first-id-row" id="headingOne">
                  <div class="row align-middle-flex">
                    <div class="col-md-3">
                       <h5 class="mb-0 clearfix">
                        <span><i class="mdi mdi-email-outline"></i></span>
                         Email ID 
                      </h5>
                    </div>
                    <div class="col-md-2">
                       <h5 class="mb-0 clearfix">
                         johndoe@gmail.com
                      </h5>
                    </div>
                  </div>
                </div>
                 <div class="card-body first-id-row" id="headingOne">
                  <div class="row align-middle-flex">
                    <div class="col-md-3">
                       <h5 class="mb-0 clearfix">
                        <span><i class="mdi mdi-cellphone"></i></span>
                         Phone Number 
                      </h5>
                    </div>
                    <div class="col-md-2">
                       <h5 class="mb-0 clearfix">
                         +81-205520150 
                      </h5>
                    </div>
                  </div>
                </div>
              <h4 class="Main-heading mt-40 mb-0">Requested/Send to me Documents</h4>
            </div>
            <div class="col-md-12  m-auto">
              <div class="recived-doc-details mt-15">
                <div id="accordion">
                  <div class="card">
                    <div class="main-heading-verfy-row requested-heading-row">
                     <div class=" main-flex-row align-middle-flex">
                        <div class="colomn-row-new">
                            <div class="common-colomn first-colomn for-document">
                           <h5 class="mb-0 clearfix">
                            Document Name 
                          </h5>
                        </div>
                        <div class="common-colomn first-colomn ">
                           <h5 class="mb-0 clearfix">
                            Description
                          </h5>
                        </div>
                         <div class="common-colomn ">
                           <h5 class="mb-0 text-center clearfix">
                            Self Certify
                          </h5>
                        </div>
                         <div class="common-colomn ">
                           <h5 class="mb-0 text-center clearfix">
                            Certify
                          </h5>
                        </div>
                         <div class="common-colomn ">
                           <h5 class="mb-0 text-center clearfix">
                            Sign
                          </h5>
                        </div>
                         <div class="common-colomn ">
                           <h5 class="mb-0 text-center clearfix">
                            Complete
                          </h5>
                        </div>
                         <div class="common-colomn ">
                           <h5 class="for-tooltip mb-0 text-center clearfix">

                            Video Proof
                            <span class="tooltip-new" data-toggle="tooltip" title="Record your video so that we can do the identity verification." data-placement="top"><i class="mdi mdi-information-outline"></i></span>
                          </h5>
                        </div>
                         <div class="common-colomn  first-colomn">
                           <h5 class="mb-0 clearfix">
                            Status
                          </h5>
                        </div>
                        </div>
                    </div>
                </div>
                 <div class="card-body first-id-row requested-heading-row" id="headingOne">
                       <div class="main-flex-row value-sisc-row align-middle-flex">
                        <div class="colomn-row-new">
                        <div class="common-colomn first-colomn for-document">
                           <h5 class="mb-0 clearfix">
                            <div class="for-tooltip">
                              <img src="assets/images/icons/phone.png">
                              <span class="tooltip-new" data-toggle="tooltip" title="Document is verified." data-placement="top"><i class="mdi mdi-information-outline"></i></span>
                            </div>
                            Driving License
                          </h5>
                        </div>
                        <div class="common-colomn first-colomn">
                           <h5 class="mb-0 clearfix">
                            Please send a scanned copy of driving license.
                          </h5>
                        </div>
                         <div class="common-colomn">
                            <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn first-colomn">
                           <h5 class="mb-0 clearfix">
                            <span class="received approve">Received</span>

                          
                           <button class="bg-gradient-primary text-white PL-5" data-toggle="collapse" data-target="#collapseOne"  aria-expanded="true" aria-controls="collapseOne">
                                 <i class="mdi mdi-menu-down"></i>
                               </button>
                               </h5>
                        </div>
                       </div>
                     </div>
                  </div>


                    
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body table-responsive">
                          <table class="table document-table table-on-boarding">
                            <thead>
                              <tr>
                                <th width="10%">Version</th>
                                <th width="10%">Document</th>
                                <th width="10%">Date</th>
                                <th width="10%">ID Code</th>
                                <th width="8%">Nature of Request</th>
                                <th width="12%">Message</th>
                                <th width="10%">Status</th>
                                <th width="15%">Reason</th>
                                <th width="15%">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                
                                <td>Driving Licence 1</td>
                                <td>
                                  <div class="verifier-typ-img">
                                    <img src="assets/images/icons/document.png">
                                  </div>
                                </td>
                                <td>july 30, 2019</td>
                                <td>DL-1254</td>
                                <td>Certification</td>
                                <td>Lorem ipsum is the dummy text.</td>
                                <td>
                                  <p class="pending">Pending</p>
                                </td>
                                <td>
                                  <p>
                                    The Picture was not clear.
                                  </p>
                                </td>
                                <td class="reject-accept">
                                  <i class="approve mdi mdi-checkbox-marked-circle"></i>
                                  <a href="" data-toggle="modal" data-target="#myModal-reason"><i class="reject mdi mdi-close-circle"></i></a>
                                  
                                  
                                </td>
                              </tr>
                             
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                     <div class="card-body first-id-row requested-heading-row" id="headingTwo">
                       <div class="main-flex-row value-sisc-row align-middle-flex">
                        <div class="colomn-row-new">
                        <div class="common-colomn first-colomn for-document">
                           <h5 class="mb-0 clearfix">
                            <div class="for-tooltip">
                              <img src="assets/images/icons/email.png">
                              <span class="tooltip-new" data-toggle="tooltip" title="Document is verified." data-placement="top"><i class="mdi mdi-information-outline"></i></span>
                            </div>
                            Driving License
                          </h5>
                        </div>
                        <div class="common-colomn first-colomn">
                           <h5 class="mb-0 clearfix">
                            Please send a scanned copy of driving license.
                          </h5>
                        </div>
                         <div class="common-colomn">
                            <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn first-colomn">
                           <h5 class="mb-0 clearfix">
                            <span class="received pending">Pending</span>

                          
                           <button class="bg-gradient-primary text-white" data-toggle="collapse" data-target="#collapseTwo"  aria-expanded="false" aria-controls="collapseTwo">
                             <i class="mdi mdi-menu-down"></i>
                           </button>
                               </h5>
                        </div>
                       </div>
                     </div>
                  </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                       -----
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body first-id-row requested-heading-row" id="headingThree">
                       <div class="main-flex-row value-sisc-row align-middle-flex">
                        <div class="colomn-row-new">
                        <div class="common-colomn first-colomn for-document">
                           <h5 class="mb-0 clearfix">
                             <div class="for-tooltip">
                              <img src="assets/images/icons/phone.png">
                              <span class="tooltip-new" data-toggle="tooltip" title="Document is verified." data-placement="top"><i class="mdi mdi-information-outline"></i></span>
                            </div>
                            Driving License
                          </h5>
                        </div>
                        <div class="common-colomn first-colomn">
                           <h5 class="mb-0 clearfix">
                            Please send a scanned copy of driving license.
                          </h5>
                        </div>
                         <div class="common-colomn">
                            <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn">
                           <div class="checkbox text-center">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                              </label>
                            </div>
                        </div>
                         <div class="common-colomn first-colomn">
                           <h5 class="mb-0 clearfix">
                            <span class="received approve">Received</span>

                          
                          <button class="bg-gradient-primary text-white" data-toggle="collapse" data-target="#collapseThree"  aria-expanded="false" aria-controls="collapseThree">
                             <i class="mdi mdi-menu-down"></i>
                           </button>
                               </h5>
                        </div>
                       </div>
                     </div>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        -----
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
</div>


<!-- Modal -->
<div id="myModal-reason" class="modal fade modal-reason" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
           <div class="reason-heading">
               <div class="reason-box">
                 <div class="inner-border">
                   <i class="fas fa-question"></i>
                 </div>
               </div>
               <div>
                 Reason For Rejecting Document
               </div>
           </div>
           <div class="reason-form">
             <div class="form-group">
               <label for=""> Reason</label>
                <input type="text" class="form-control" placeholder="Enter the reason">
              </div>
              <div class="popup-btn">
                <a href="" class="btn btn-common bg-gradient-primary">Submit</a>
                <a href="" class="btn btn-common bg-gradient-primary">Cancel</a>
              </div>
           </div>
      </div>
    </div>

  </div>
</div>

<%- include('footer'); -%>