<!DOCTYPE html>
<html>
<head>
     <title>My Reflet User</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
  <!-- Animate CSS -->
    <link href="/assets/css/animate.css" rel="stylesheet"/>
    <!-- hover-min CSS -->
    <link href="/assets/css/hover-min.css" rel="stylesheet"/>
    <!-- yamm css -->
    <link href="/assets/css/yamm.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- Font-awesome web fonts with css -->
    <!-- loader css -->
    <link href="/assets/css/loader.css" rel="stylesheet"/>
  <!-- Custom CSS -->
    <link href="/assets/css/custom.css" rel="stylesheet"/>
    <link href="/assets/css/custom-new.css" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="/assets/css/jquery-ui.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">

<section class="login-sec">
	<div class="container-fluid p-0">
		<div class="row m-0">
			<div class="col-md-6 p-0">
				<div class="left-side-login">
					<div class="logo-box">
						<a href="">
							<img src="/assets/images/logo.png">
						</a>
					</div>
           
					<div class="side-text">
						<h2>
							Password
						</h2>
					</div>
				</div>
			</div>
      <div class="col-md-6 p-0">
        <div class="right-side-login forgot-pass">
          <div class="inner-div">
            <h6 class="first-line">Please Enter your copied password or import downloaded password file.</h6>
           
            <div class="login-form-main">
              <form method="POST" action="/password-match">
              <div class="form-group mb-15">
                <label>Password</label>
                <input type="text" name="password" class="form-control" placeholder="Re-enter your password" id="repass-id"> 
                <input type="hidden"  value="<%= user_id %>"  name="user_id" >
              </div>
              <div class="text-right">
								<a  href="#"  onclick="document.getElementById('fileToLoad').click()">Import password file</a>
								<input type="file" id="fileToLoad"  name="import" onchange="uploadText()" style="display:none;"> 
							</div>
              <button class="purple-btn" type="submit" >Submit</button>
              </form>
            </div>
       
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function copyPassword() {
    var copyText = document.getElementById("myInput");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    alert("Copied the text: " + copyText.value);
    document.getElementById("myInput").value=copyText.value;
  }
  // function downloadPassword(encryptedPass){
  //   alert("Your password will be encrypted after download")

  // }



  </script>



       <script type="text/javascript">
        function download(filename, text) {
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', filename);

            element.style.display = 'none';
            document.body.appendChild(element);

            element.click();

            document.body.removeChild(element);
        }

        // Start file download.
        document.getElementById("dwn-btn").addEventListener("click", function(){
          alert("Downloaded password will be in encrypted format");
              // Generate download of hello.txt file with some content
              var text = document.getElementById("myInput").value;
              var encryptedPass='';
              var xhttp = new XMLHttpRequest();
              xhttp.open("POST", "get_encrypt_pass", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send(`password=${text}`);


              xhttp.onreadystatechange = function() {
               // console.log("receivingggggggggg start");
        if (this.readyState == 4 && this.status == 200) {
         // console.log("receivingggggggggg start2");
            encryptedPass =this.responseText;
          //  console.log("encryptedddddddd pass::::",encryptedPass);
            var filename = "myrefletpassword.txt";
              download(filename, encryptedPass);
       }
    };
        }, false);
        </script>

 
<!-- JQuery -->
        <script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
        <!-- <script type="text/javascript" src="assets/js/jquery-1.11.3.min.js"></script> -->
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <!-- dropdownhover effects JavaScript -->
        <script type="text/javascript" src="assets/js/bootstrap-dropdownhover.min.js"></script>
        <!-- wow JavaScript -->
        <script type="text/javascript" src="assets/js/wow.min.js"></script>
        <!-- video player JavaScript -->

        <!-- Custom JavaScript -->
        <script type="text/javascript" src="assets/js/custom.js"></script>

        <script>
  

        </script>
         
       
<script>
  function uploadText(){
		var fileToLoad = document.getElementById("fileToLoad").files[0];
  var fileReader = new FileReader();
  fileReader.onload = function(fileLoadedEvent){
      var textFromFileLoaded = fileLoadedEvent.target.result;
   //   console.log("dataaaaaaaaaaaa:::",textFromFileLoaded);
	  textFromFileLoaded=textFromFileLoaded.toString();
//decrypting password
let decryptPass='';
                 var xhttp = new XMLHttpRequest();
              xhttp.open("POST", "get_decrypt_pass", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send(`password=${textFromFileLoaded}`);
              xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
			//console.log("decrrrrrrrrrrrrrrrrrrrrrrr");
            decryptPass =this.responseText;
			
			decryptPass=decryptPass.replace(/ /g,'+');
			console.log("decryptedddddddd pass",decryptPass);
		  document.getElementById("repass-id").value = decryptPass;
          
       }
    };   
  };
  fileReader.readAsText(fileToLoad, "UTF-8");
}
</script>
    </body>
</html>