<%- include('innerHeader')%>


<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/home-assets/change-pass.png">
					<h4>Change Email Success</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="setup-id-sec">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="white-box">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact">
								<div class="create-rflet-id-form">
									<h6 class="mb-0 heading-purple">Your email has been changed successfully.</h6>
							  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<%- include('innerFooter')%>



 