<form method="POST"
      action="https://docs.google.com/forms/d/1GgIY8HlARs-R_FXVzklou1Ck9EU6TxNFeb1E2Hd008c/edit#responses"
      onsubmit="return window.submitGoogleForm(this);">

  <label>name</label>
  <!-- view the form and inspect inputs to get the generated names. -->
  <input name="entry.2345234">

  <button type=submit>Submit</button>
</form>