<%-include('../innerHeader')%>

<style>
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
</style>


<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/createidentity-assets/setup.png">
					<h4>Backup Your Private Key</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="setup-id-sec">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="white-box">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact">
								<p>Your private key is used to authorize transactions for sending Ether or tokens on your Ethereum address. Do not share this with anyone, as this will give them full access to move your assets somewhere else. You can print a copy to make an offline backup.</p>

								<div class="private-key-copy-box">
									<div class="form-group">
										<label>Your Private Key</label>
										<div class="input-group mb-3">
										  <input type="text" class="form-control" id="private_key" name="private_key" value="<%=private_key%>" readonly="readonly">
										  <div class="input-group-append">
										  	<span class="tooltip">
										  		<a class="btn-copy " href="javascript:void(0);" onclick="myFunction1()" onmouseout="outFunc()"><img src="../assets/images/icons/createidentity-assets/copy.png">
										  		<span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
										  	</a>
											</span>
							  	<a class="btn-copy" href="javascript:void(0);" id="download" download="Myreflet_pvt.txt"><img src="../assets/images/icons/createidentity-assets/download.png"></a>
							 
										  </div>
										</div>
									</div>
									<a class="btn-common-new" href="/my-reflet-id-code">my private key is backed up, continue</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>





<%- include('../innerFooter')%>


<script>
function myFunction1() {
  var copyText = document.getElementById("private_key");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
  
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied";
    // tooltip.innerHTML = "Copied: " + copyText.value;

}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}
</script>


<!-- <script type="text/javascript">
	function myFunction() {
	  var copyText = document.getElementById("private_key");
	  if($('#private_key').val() !="")
	  {
	  copyText.select();
	  document.execCommand("copy");
	  alert("Private key is copied.");
    
	  }  
	}  
</script> -->
<script type="text/javascript">
	(function () {
	var textFile = null,
	  makeTextFile = function (text) {
		var data = new Blob([text], {type: 'text/plain'});
		if (textFile !== null) {
		  window.URL.revokeObjectURL(textFile);
		}
		textFile = window.URL.createObjectURL(data);
		return textFile;
	  };
	  var create = document.getElementById('download'),
		textbox = document.getElementById('private_key');
	  create.addEventListener('click', function () {
		var link = document.getElementById('download');
		link.href = makeTextFile(textbox.value);
	  }, false);
	})();
	</script>

 