<%-include('../../innerHeader')%>


<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/createidentity-assets/success.png">
					<h4>Successfully Wallet Created</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="setup-id-sec">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="white-box">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact">
								<p>Thank you for creating wallet. Your wallet has been created successfully. You can access your account now. Click on continue now you can see your wallet address in wallet list.</p>

								<div class="private-key-copy-box for-success-box">
									<a class="btn-common-new" href="/validator-wallet-list">Continue</a>
<!-- 									<a class="skip" href="/dashboard">Skip</a>
 -->								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<%- include('../../innerFooter')%>



 