<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Software</title>
</head>
<body>
    <h1>Parking Software</h1>
    <h3>Choose an option below</h3>
    <a href="/video/entry">Entry</a>
    <a href="/video/exit">Exit</a>
</body>
</html>