<%- include('header'); -%>

<div>
   <div class="main-bredcrum-box">
        <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            Verifier List
          </li>
        </ul>
      </nav>
    </div>
	<div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-contacts"></i>
        </span> Verifier List </h3>
    </div>
    <div class="row align-bottom-flex">
    	<div class="col-md-2">
    		<div>
    			<div class="form-group">
                    <label for="exampleInputUsername1">Status</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect3">
                        <option>All</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
    		</div>
    	</div>
    	<div class="col-md-2">
    		<div>
    			<div class="form-group">
                    <label for="exampleInputUsername1">MyReflet ID</label>
                    <select class="form-control form-control-sm" id="exampleFormControlSelect3">
                        <option>All</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                  </div>
    		</div>
    	</div>
    	<div class="col-md-3 offset-md-5">
    		<div>
    			<div class="form-group">
                      <div class="input-group search-input">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-sm" type="button"><i class=" mdi mdi-magnify"></i></button>
                        </div>
                      </div>
                    </div>
    		</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
    		<div class="table-responsive">
    			<table class="table tabel-virifier">
              <thead>
                <tr>
                  <th width="15%">Verifier Name</th>
                  <th width="20%">Email ID</th>
                  <th width="20%">Date Of Birth</th>
                  <th width="20%">Place Of Birth</th>
                  <th width="20%">MyReflet IDs</th>
                  <th width="5%">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                   <td>
                     <div>
                       <h5>Jack Ma</h5>
                     </div>
                   </td>
                   <td>
                     <div>
                       <p>jackma@gmail.com</p>
                     </div>
                   </td>
                   <td>
                     <div>
                       <p>23 July, 1990</p>
                     </div>
                   </td>
                   <td>
                     <p>China</p>
                   </td>
                    <td>
                     <p>3</p>
                   </td>
                  
                   <td>
                     <div class="dropdown-menu-new">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                          <a class="dropdown-item" href="manage_request.php"><i class="fas fa-cogs"></i> Manage MyReflet ID</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-close-box"></i> Reject</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-delete"></i> Delete</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-delete-forever"></i> Block</a>
                        </div>
                     </div>
                   </td>
                </tr>
                <tr>
                   <td>
                     <div>
                       <h5>Jack Ma</h5>
                     </div>
                   </td>
                   <td>
                     <div>
                       <p>jackma@gmail.com</p>
                     </div>
                   </td>
                   <td>
                     <div>
                       <p>23 July, 1990</p>
                     </div>
                   </td>
                   <td>
                     <p>China</p>
                   </td>
                    <td>
                     <p>3</p>
                   </td>
                  
                   <td>
                     <div class="dropdown-menu-new">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                          <a class="dropdown-item" href="manage_request.php"><i class="fas fa-cogs"></i> Manage MyReflet ID</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-close-box"></i> Reject</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-delete"></i> Delete</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-delete-forever"></i> Block</a>
                        </div>
                     </div>
                   </td>
                </tr>
               <tr>
                   <td>
                     <div>
                       <h5>Jack Ma</h5>
                     </div>
                   </td>
                   <td>
                     <div>
                       <p>jackma@gmail.com</p>
                     </div>
                   </td>
                   <td>
                     <div>
                       <p>23 July, 1990</p>
                     </div>
                   </td>
                   <td>
                     <p>China</p>
                   </td>
                    <td>
                     <p>3</p>
                   </td>
                  
                   <td>
                     <div class="dropdown-menu-new">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                          <a class="dropdown-item" href="manage_request.php"><i class="fas fa-cogs"></i> Manage MyReflet ID</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-close-box"></i> Reject</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-delete"></i> Delete</a>
                          <a class="dropdown-item" href="#"><i class="mdi mdi-delete-forever"></i> Block</a>
                        </div>
                     </div>
                   </td>
                </tr>
              </tbody>
          </table>
    		</div>
    	</div>
    </div>
</div>

<%- include('footer'); -%>