<?php include('header.php');?>


<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="main-heading-dash">
					<img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
					<h4>Create MyReflet ID Code</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="setup-id-sec">
	<div class="container">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="white-box">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 m-auto">
							<div class="setup-inner-box for-protact responsive-field-radio">
								<div class="create-rflet-id-form">
									<div class="input-group for-radio-check-id-as">
									  <input type="text" class="form-control" readonly placeholder="You are Creating ID as an">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	 <div class="radio">
									          <label>
									            <input type="radio" name="o1" value="">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Entity
									          </label>
									        </div>
									         <div class="radio">
									          <label>
									            <input type="radio" name="o1" value="">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Representative
									          </label>
									        </div>
									    </span>
									  </div>
									</div>
									<div class="input-group for-radio-check-id-as">
									  <input type="text" class="form-control" readonly placeholder="Status">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	 <div class="radio">
									          <label>
									            <input type="radio" name="o1" value="">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Public
									            <div class="tooltip fade text-tooltip" data-title="Your account will be confidential">
													<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												</div>
									          </label>
									        </div>
									         <div class="radio">
									          <label>
									            <input type="radio" name="o1" value="">
									            <span class="cr"><i class="cr-icon fa fa-circle"></i></span>
									            Private
									            <div class="tooltip fade text-tooltip" data-title="Your account will be confidential">
													<img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
												</div>
									          </label>
									        </div>
									    </span>
									  </div>
									</div>
								  <div class="for-entity"> 
								    <div class="input-group">
									  <input type="text" class="form-control" placeholder="MyReflet Username">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
									    </span>
									  </div>
									</div>
									<div class="input-group">
										<input type="text" class="form-control" name="wallet_name" placeholder="Wallet Name">
										<div class="input-group-append">
										  <span class="input-group-text">
											  <img src="../assets/images/icons/createidentity-assets/create-myreflet.png">
										  </span>
										</div>
									  </div>
									<div class="input-group">
									  <input type="text" class="form-control" placeholder="First Name">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/user.png">
									    </span>
									  </div>
									</div>
									<div class="input-group">
									  <input type="text" class="form-control" placeholder="Last Name">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/user.png">
									    </span>
									  </div>
									</div>
									<div class="input-group">
									  <input type="email" class="form-control" placeholder="Email ID">
									  <div class="input-group-append">
									    <span class="input-group-text">
									    	<img src="../assets/images/icons/createidentity-assets/email.png">
									    </span>
									  </div>
									</div>
									<div class="form-group for-select-existing-doc m-top-40">
						    	<div class="input-group ">
								  <div class="dropdown keep-inside-clicks-open">
									  <button class="dropdwn-btn btn-clr-placeholder" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									    Category
									  </button>
									  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									     <div class="for-doc-select">
									    	<div class="checkbox"> 	
									          <label>
									          	Bank
									            <input type="checkbox" value="">
									            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
									          </label>
									        </div>	
									     </div>
									      <div class="for-doc-select">
									    	<div class="checkbox"> 	
									          <label>
									          	Notaries
									            <input type="checkbox" value="">
									            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
									          </label>
									        </div>	
									     </div>
									      <div class="for-doc-select">
									    	<div class="checkbox"> 	
									          <label>
									          	Lawyer
									            <input type="checkbox" value="">
									            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
									          </label>
									        </div>	
									     </div>
									      <div class="for-doc-select">
									    	<div class="checkbox"> 	
									          <label>
									          	Exchanges
									            <input type="checkbox" value="">
									            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
									          </label>
									        </div>	
									     </div>
									     <div class="for-doc-select">
									    	<div class="checkbox"> 	
									          <label>
									          	Public Certifiers
									            <input type="checkbox" value="">
									            <span class="cr"><i class="cr-icon fa fa-check"></i></span>
									          </label>
									        </div>	
									     </div>
									  </div>
									</div>
								  
								</div>
						    </div>
								 </div>	
								 </div>
								</div>
	
								<div class="private-key-copy-box ">
									<a class="btn-common-new text-center" href="my-reflet-id-view.php">Create myreflet id code</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<?php include('footer.php');?>



 