<!-- // 	$('.checkboxdata1').click(function () {
		
    // 		$("#myTable3").hide();
    // 		$("#reflect_list").html("");
    
    
    // 		var userid = $("#userid").val();
            
    
    
    
    // 		// alert(userid)
    // 		$.ajax({
    //                       type : 'POST',
    //                       url  : '/show-reflect-code-data',
    //                       data: { userid:userid},
    //                         success: function(data) {
    // 							if(!data){
    //                  }else{
    // 					$("#myTable1").show();
     
    //                 for(var i=0;i<data.length;i++) {
    // 			console.log("data : ",data[i].reflect_code)
                
                                              
    // 			$("#reflect_list").append(`<label>${data[i].reflect_code}<input type="checkbox" id="${data[i].reflect_code}"><span class="cr"><i class="cr-icon fa fa-check"></i></span></label`);
    
    // 			 // $('#test2').append(newOption);
    //              // $('#test2').trigger('change');
    //              };
    //              }   
        







    
    //     }                         
    // 	$('#user_check').click(function () {
        // 		var userid = $("#userid").val();
        
        // 		$("#reflect_list").html("");
        
        //     //    $("#myTable1").hide();
        // 		// alert("userid")
        // 		$.ajax({
        //                       type : 'GET',
        //                       url  : '/document-list',
        //                       data: { userid:userid},
        //                         success: function(data) {}
                                    
        // })
        // 	})
            
        //     $('.checkboxdata').click(function () {
        // 		var userid = $("#userid").val();
        
        // 		$("#reflect_list").html("");
        
        //     //    $("#myTable1").hide();
        // 		// alert(userid)
        // 		$.ajax({
        //                       type : 'POST',
        //                       url  : '/reflect-code-data',
        //                       data: { userid:userid},
        //                         success: function(data) {
        // 							if(!data){
        //                  }else{
        // 					$("#myTable3").show();
        
        //                 for(var i=0;i<data.length;i++) {
        // 			console.log("data : ",data[i].reflect_code)
                    
                                                  
        // 			$("#reflect_list").append(`<label> ${data[i].reflect_code}<input type="checkbox" value="${data[i].reflect_code}"id="${data[i].reflect_code}"><span class="cr"><i class="cr-icon fa fa-check"></i></span></label`);
                    
        // 			 // $('#test2').append(newOption);
        //              // $('#test2').trigger('change');
        // 			 }
                      
        // 			}
                     
        // 			}                                                    
                   
        // })
        // 	})                                         
               
    // })
    // 	}) -->