  <div class="form-group">
                  <div class="input-group">
                    <input type="text"  class="form-control" name="issue_place" placeholder="Issue Place" autocomplete="off">
                  </div>
                </div>
                  <div class="form-group">
                  <div class="input-group">
                    <input type="text" id="datepicker3" class="form-control" name="issue_date" placeholder="Issue Date"  autocomplete="off">
                  </div>
                </div>