<%- include('../innerHeader') %>

<style>
	
	.active-check.active .wallet-box {
    background-color: #caedff;
}

</style>

<section class="heading-sec">
	<div class="container">
		<div class="row align-item-center">
			<div class="col-lg-12">
				<div class="custom-space-btw align-items-center">
				</div>
			</div>

				<!--main content-->
			<div class="col-md-12"> 
				<div class="white-box client">
					<div class="tab-content" id="myTabContent">
					  	<h4 class="small-heading text-center">Link Your MyReflet ID</h4>
						<div class="row">
							<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 active-check active">
								<div class="white-box full-box wallet-box">
									<div class="row align-item-center">
									   <div class="col-xl-6 col-lg-12 col-md-12">
									   	  <div class="id-code-represent-heading"> 
											  <img src="../assets/images/icons/home-assets/Representative.png">
											  <span>Representative</span>
										  </div>
									   </div>
									   <div class="col-xl-6 col-lg-12 col-md-12">
									   	 <h5 class="mb-0 balance-value">Wallet name : Test</h5>
									   </div>
									</div>
									<div>
										<div class="private-key-copy-box mt-15">
											<div class="form-group">
												<label>Your Wallet Address</label>
												<div class="input-group mb-3">
												  <input type="text" class="form-control" placeholder="75kln55nlk5lk75k7n5lk7lkn5nkfsflskskjl6;k64j64;6kj46kj">
												  <div class="input-group-append">
												  	<a class="btn-copy" href=""><img src="../assets/images/icons/createidentity-assets/copy.png"></a>
												  </div>
												</div>
											</div>
										</div>
										<div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<img src="../assets/images/icons/home-assets/user.png">
													<p>MyReflet ID</p>
												</div>
											</div>
											<div class="col-md-4 dubble-dot-after p-0">
												<p>5512</p>
											</div>
										</div>
										<div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<img src="../assets/images/icons/ethereum-1.svg">
													<p>ETH Balance</p>
												</div>
											</div>
											<div class="col-md-4 dubble-dot-after p-0">
												<p>0</p>
											</div>
										</div>
							         </div>
							    </div>
				            </div>
							<!--second box-->
				            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 active-check">
								<div class="white-box full-box wallet-box">
									<div class="row align-item-center">
									   <div class="col-xl-6 col-lg-12 col-md-12">
									   	  <div class="id-code-represent-heading"> 
											  <img src="../assets/images/icons/entity.png">
											  <span class="">Entity</span>
										  </div>
									   </div>
									   <div class="col-xl-6 col-lg-12 col-md-12">
									   	 <h5 class="mb-0 balance-value">Wallet name : Test</h5>
									   </div>
									</div>
									<div>
										<div class="private-key-copy-box mt-15">
											<div class="form-group">
												<label>Your Wallet Address</label>
												<div class="input-group mb-3">
												  <input type="text" class="form-control" placeholder="75kln55nlk5lk75k7n5lk7lkn5nkfsflskskjl6;k64j64;6kj46kj">
												  <div class="input-group-append">
												  	<a class="btn-copy" href=""><img src="../assets/images/icons/createidentity-assets/copy.png"></a>
												  </div>
												</div>
											</div>
										</div>
		                                   <div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<img src="../assets/images/icons/home-assets/user.png">
													<p>MyReflet ID</p>
												</div>
											</div>
											<div class="col-md-6 dubble-dot-after p-0">
												<p>5513</p>
											</div>
										</div>
										
										<div class="row inner-box-id-code">
											<div class="col-md-4 p-0">
												<div class="for-flex-align">
													<img src="../assets/images/icons/ethereum-1.svg">
													<p>ETH Balance</p>
												</div>
											</div>
											<div class="col-md-6 dubble-dot-after p-0">
												<p>0</p>
											</div>
										</div>
							         </div>
							    </div>
				            </div>
						 </div>
						 <div class="col-lg-7 col-md-8 col-sm-8">
				<div class="text-right">
					<a class="btn-common-new" href="#">Continue</a>
				</div>

					  </div>
				</div>
			</div>
		</div>
	</div>
</section>



<%- include('../innerFooter')%>



<script>
	$(document).ready(function(){
	  $('.active-check').click(function(){
	    $('.active-check').removeClass("active");
	    $(this).addClass("active");
	});
	});
</script>