<%-include('../innerHeader')%>

<section class="heading-sec">
    <div class="container">
        <div class="row align-item-center">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="main-heading-dash">
                    <img src="../assets/images/icons/home-assets/code-verification-tool.png">
                    <h4>manage Default Documents Requested</h4>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="text-right">
                    <a class="btn-common-new" href="../sub-verifier/edit-document.php">Edit Documents</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
	<div class="container">
       <div class="row">
          <div class="col-md-12">
               <div class="personal-info-heading">
                    <div class="row align-item-center">
                        <div class="col-md-8">
                            <h4 class="purple-heading">Opening of Account - USA Client</h4>
                        </div>
                    </div>
                 </div>
                <div class="table-bdr-wrapper">
                    <div class="personal-info-box for-download-view-table table-responsive table-another-wrapper">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th>Self Certify</th>
                                    <th>Certify</th>
                                    <th>Sign</th>
                                    <th>Complete</th>
                                    <th><div class="tooltip fade" data-title="Record your video so that we can do the identity verification">
                                        Video Proof
                                        <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
                                    </div></th>
                                </tr>
                            <thead>
                            <tbody>
                                <tr>
                                    <td>Driving Licence</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                   
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>Form 3</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                  
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="personal-info-heading">
                    <div class="row align-item-center">
                        <div class="col-md-8">
                            <h4 class="purple-heading mt-30">Opening of Account - Legal Person</h4>
                        </div>
                    </div>
                 </div>
                <div class="table-bdr-wrapper">
                    <div class="personal-info-box for-download-view-table table-responsive table-another-wrapper">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th>Self Certify</th>
                                    <th>Certify</th>
                                    <th>Sign</th>
                                    <th>Complete</th>
                                    <th><div class="tooltip fade" data-title="Record your video so that we can do the identity verification">
                                        Video Proof
                                        <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
                                    </div></th>
                                </tr>
                            <thead>
                            <tbody>
                                <tr>
                                    <td>Driving Licence</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                   
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>Form 3</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                  
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="personal-info-heading">
                    <div class="row align-item-center">
                        <div class="col-md-8">
                            <h4 class="purple-heading mt-30">Other Documents</h4>
                        </div>
                    </div>
                 </div>
                 <div class="table-bdr-wrapper">
                    <div class="personal-info-box for-download-view-table table-responsive table-another-wrapper">
                        <table class="table" id="myTable">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th>Self Certify</th>
                                    <th>Certify</th>
                                    <th>Sign</th>
                                    <th>Complete</th>
                                    <th><div class="tooltip fade" data-title="Record your video so that we can do the identity verification">
                                        Video Proof
                                        <img class="info-icon" src="../assets/images/icons/dashboard-assets/info-icon.png">
                                    </div></th>
                                </tr>
                            <thead>
                            <tbody>
                                <tr>
                                    <td>Driving Licence</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                   
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>Form 3</td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                  
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
          </div> 
       </div>
	</div>
</section>
<%- include('../innerFooter')%>
